<ion-header>
  <ion-navbar>
    <ion-title>
      Search-Select
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="plane" item-start></ion-icon>
    <ion-label>Select Airport</ion-label>
    <ionic-selectable #airportComponent item-content searchPlaceholder="Search Airport" [(ngModel)]="airport"
      itemValueField="code" itemTextField="name" [items]="airports" [canSearch]="true" (onSearch)="searchData($event)"
      (onClose)="onClose($event)" [canClear]="true" (onChange)="onChangeSelect($event)" [searchDebounce]="1000">
      <ng-template ionicSelectableSearchFailTemplate>
        <div padding>
          No airports found.
        </div>
      </ng-template>
      <ng-template ionicSelectableItemRightTemplate let-port="item">
      </ng-template>
      <ng-template ionicSelectablePlaceholderTemplate>
      </ng-template>
      <ng-template ionicSelectableValueTemplate let-port="value">
      </ng-template>
    </ionic-selectable>
  </ion-item>


  <!-- <ion-list>
      <ion-item *ngFor="let a of airportsArray">
        <ion-icon name="plane" item-start></ion-icon>
        <h2>{{a.name}}</h2>
        <p>{{a.code}}</p>
      </ion-item>
    </ion-list> -->

  <timeline endIcon="checkmark" *ngIf="airportsArray.length > 0">
    <timeline-item *ngFor="let item of airportsArray">
      <div>
        <span class="clickable-div" (click)="itemTimeLineClick(item)">
          <img src="https://image.flaticon.com/icons/svg/127/127936.svg" id="right-icon">
        </span>
        <timeline-header [header]="item"></timeline-header>
        <ion-icon name="plane"></ion-icon>
        <ion-card>
          <!--<ion-card-header>
            </ion-card-header>
          <ion-card-content>
          </ion-card-content> -->
        </ion-card>
      </div>
    </timeline-item>
  </timeline>

  <ion-item>
    <ion-label>Passengers {{passengersCant}}</ion-label>
    <ion-range min="1" max="10" step="1" snaps="true" color="secondary" pin="true" [(ngModel)]="passengersCant">
      <ion-icon small range-left name="person"></ion-icon>
      <ion-icon range-right name="people"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-icon name="people" item-start></ion-icon>
    <ion-label>Passengers</ion-label>
    <ion-multi-picker id="numberPicker" [(ngModel)]="numberPicker" item-content [multiPickerColumns]="simpleColumns"></ion-multi-picker>
  </ion-item>

  <ion-item>
    <ion-icon name="paper" item-start></ion-icon>
    <ion-label>Ticket Class</ion-label>
    <ion-select [(ngModel)]="ticketClass" interface="action-sheet">
      <ion-option value="ECONOMY">ECONOMY</ion-option>
      <ion-option value="ECONOMYPLUS">ECONOMYPLUS</ion-option>
      <ion-option value="BUSINESS">BUSINESS</ion-option>
      <ion-option value="FIRST">FIRST</ion-option>
    </ion-select>
  </ion-item>

  <button ion-button full (click)="buttonClick()">Calculate</button>

</ion-content>
